<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
</head>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/ezuikit.js"></script>
<script>
  $(function () {
    var player08 = new EZUIPlayer('myPlayer08');
    player08.play();
  })
</script>

<body>
<div style="border:1px solid red">
  <div>
    <video id="myPlayer08" controls playsInline webkit-playsinline width="800" height="600">
      <source src="rtmp://127.0.0.1:1935/stream/test-1f817c2a" type="rtmp/flv" />
    </video>
  </div>
</div>
</body>

<style>
  div{
    display:inline-block;
    padding:0;
    margin:0;
  }
</style>
</html>